  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;500;700&display=swap');

  .App {
    font-family: 'Poppins', sans-serif;
  }

  .scroll-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer/Edge */
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
  }

  .slider {
    position: 'relative';
    --v-offset: 60px;
    --curve-height: 80px
  }